h2 {
	color: black;
	font-size: 30px;
	font-family: Georgia, serif;
}
p{
		color: black;
	text-align: center;
	font-size: 20px;
	font-family: Georgia, serif;
}


a{
	text-decoration: none;
	color: #92828D;
}

a:hover {
	color:#E8D7FF;
}

#head {
text-align: right;
background-color: white;
font-family: Georgia, serif;
}

.Surfen img {
	width:200px;
	height: 200px;
	border-radius: 50px;
}

.Wakeboard img {
	width:200px;
	height: 200px;
	border-radius: 50px;
}

.Skiing{
	align-items:center;
	font-family: Georgia, serif;
}

.Kiteboarding{
	text-align: left;
	align-items:center;
	font-family: Georgia, serif;
	width: 300px; 
	height: 300px;
}
#head img{
	width:100px;
	height:100px;
	border-radius: 50%;
	align-items:right;
	border-style:solid;
	border-color: black;
}
#Member{
	font-family: Georgia, serif;
}
#footer a {
  color: black;
  font-size: 15px;
}
#footer a:hover {
  color: grey;
}
#footer{
	position:fixed;
	bottom:0;
	width:100%;
}
#adventure{
	color: black;
	text-align: center;
	font-size: 46px;
	font-family: Georgia, serif;

}

h1{
	color: black;
	text-align: center;
	font-size: 100px;
	font-family: Georgia, serif;
}
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  width: 250px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.Our_Mission {
	text-align: center;
	color: black;
	font-size: 26px;
	font-family: Georgia, serif;

}

#rentals{
	text-align: center;

}
body {
	background-image: url("images/bg3");
	background-size: cover;
}